@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Tourney:wght@100&display=swap');

body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    background-color: #eb0;
}

#menuToggler, nav {
    background-color: rgba(0,0,0,0.7);
}

#menuToggler {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    color: white;
    font-size: 3em;
    text-align: right;
    line-height: 1em;
    padding: 0 1rem;
    z-index: 1;
}

nav {
    position: fixed;
    width: 100vw;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateX(100vw);
    transition: 0.4s;
}

nav.open {
    transform: none;
    opacity: 1;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 2em;
    text-align: center;
}

@media screen and (min-width: 515px) {

    #menuToggler {
      display: none;
    }
  
    nav {
      display: flex;
      flex-direction: row;
      transform: none;
      opacity: 1;
      height: auto;
      position: static;
    }

    nav a {
        font-size: 1.3em;
    }
  
  }